body {
    font-family: Arial;
    padding: 20px;
}

input {
    padding: 8px;
    width: 250px;
}

button {
    padding: 8px;
    cursor: pointer;
}

li {
    margin-top: 10px;
}

.concluida {
    text-decoration: line-through;
    color: gray;
}